html {
    /*font definition*/
    font-family: "Montserrat";
}

body {
    /*Background properties*/
    background: url(../img/exemplaire.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: snow;
    background-position: 0px 0px;
    height: 100%;
    width: 100%;
    
    /***no-repeat except homepage***/
    /*background-repeat: no-repeat;     /*<-- active/desactive background mouvement <-- TODO */
    /***only homepage***/
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

h1 {
    
    text-align: center;
 	color:blue;
 	size:auto;
    
}

a{
	color:blue;
	height: 50px; 
    width:50px;
	text-align: center;
    vertical-align: middle;
}
table {
	border:4;
	align:center;
	margin : auto;
	cellspacing : 14;
	cellpadding :14;
	background-color: lightgrey;
	
	
}

td{
	height: 50px; 
    width:50px;
	color:black;
	text-align: center;
    vertical-align: middle;
     padding:15px;
}

th{
	color : red;
	 padding:15px;
}

#searchbar {
	position: relative;
	width: 1040px;
	height: auto;
}

.formulaire {
	display: inline-block;
}

.formulaire .champ {
	width: 200px;
	height: 15px;
	-webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
	
}

.formulaire .bouton {
	background-image: url(../img/search.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	padding: 0;
	border-radius: 10px;
}

datalist{
	display:none;
}
/*animation homePage background*/
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

